<footer class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                Copyright &copy; {{fullYear}}. All rights reserved. @ Ojas Enterprises
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <div class="footerLinks text-end">
                    <span>Privacy Policy</span>
                    <span>Terms &amp; Conditions</span>
                    <span>FAQ</span>
                    <span>Career</span>
                </div>
            </div>
        </div>
    </div>
</footer>
