<section class="services">
    <div class="container">
        <div class="row">
            <div class="titleContainer">
                <span data-aos="fade-up" data-aos-duration="1000">We Are Expert In</span>
                <h2 data-aos="fade-up" data-aos-duration="1000">Our Services</h2>
            </div>
            <p class="lead" data-aos="fade-up" data-aos-duration="1200">Our expertise is in Web Application Development, UI/Front End Dev, Mobile App Dev, Mobile App Testing, Testing Services</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <label class="serviceBox" data-aos="fade-up" data-aos-duration="1500" for="input-1">
                    <div class="icon">
                        <img src="../../../assets/img/services/web-development.svg" alt="Web Development">
                    </div>
                    <div class="content">
                        <h3>Web Development</h3>
                        <p>Ojas Enterprise is here to provide a platform that combines smart web design with cutting-edge business principles to make your website incredibly attractive, user-friendly, and customer-friendly. By motivating, communicating, servicing, and interacting
                          with the appropriate audience, our team ensures a premium experience.</p>
                    </div>
                </label>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <label class="serviceBox" data-aos="fade-up" data-aos-duration="1500" for="input-2">
                    <div class="icon">
                        <img src="../../../assets/img/services/digital-marketing.svg" alt="Blockchain Development">
                    </div>
                    <div class="content">
                        <h3>Digital Marketing</h3>
                        <p>Ojas Enterprise's Internet Marketing is a dynamic, versatile, and complete digital marketing agency that does not rely on illusions to attract new customers. Instead, Ojas Enterprise relies on its own search engine optimization (SEO) and marketing
                          expertise to attract new visitors to our site.</p>
                    </div>
                </label>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">

                <label class="serviceBox" data-aos="fade-up" data-aos-duration="1500" for="input-3">
                    <div class="icon">
                        <img src="../../../assets/img/services/iot.svg" alt="IOT Development">
                    </div>
                    <div class="content">
                        <h3>IOT Development</h3>
                        <p>The Internet of Things has grown common these days in many sectors of life, from households to industries to businesses. IoT is making the world smarter and better than ever before by connecting everything and everyone. But this is only the beginning.
                          To realize the full potential of the Internet of Things, companies must first recognize the prospects for value creation and then solve the underlying issues in a systematic manner.</p>
                    </div>
                </label>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">

                <label class="serviceBox" data-aos="fade-up" data-aos-duration="1500" for="input-4">
                    <div class="icon">
                        <img src="../../../assets/img/services/mobile-app.svg" alt="Mobile App Development">
                    </div>
                    <div class="content">
                        <h3>Mobile App Development</h3>
                        <p>We develop and deploy customised mobile apps. This covers expert business analysis, design and development of your mobile app from concept to launch, integration of the new product into your infrastructure, and on-demand optimization and scaling-up.
                          We create mobile apps for a variety of platforms utilising cutting-edge technology and tried-and-true methods.</p>
                    </div>
                </label>

            </div>
            <p class="text-center mt-5">
                <a href="" class="btn secondary-btn">Get to Know More About Services</a>
            </p>
        </div>
    </div>
</section>
<input type="checkbox" id="input-1" class="checkbox">
<div class="modal-bg-1">
    <div class="modal-1">
        <label for="input-1"><i class="ri-close-fill"></i></label>
        <img src="../../../assets/img/services/web-development.svg" alt="">
        <h1>Web Development</h1>
        <p>Ojas Enterprise is here to provide a platform that combines smart web design with cutting-edge business principles to make your website incredibly attractive, user-friendly, and customer-friendly. By motivating, communicating, servicing, and interacting
            with the appropriate audience, our team ensures a premium experience.
        </p>
        <p>We develop a world-class user experience that connects your company's aims with the demands of your users. We have a team of specialists who provide excellent services and assist in the creation of a fantastic product that includes the processes
            of discovery, definition, design, and development.</p>
    </div>
</div>
<input type="checkbox" id="input-2" class="checkbox">
<div class="modal-bg-2">
    <div class="modal-2">
        <label for="input-2"><i class="ri-close-fill"></i></label>
        <img src="../../../assets/img/services/digital-marketing.svg" alt=" ">
        <h1>Digital Marketing</h1>
        <p>Ojas Enterprise's Internet Marketing is a dynamic, versatile, and complete digital marketing agency that does not rely on illusions to attract new customers. Instead, Ojas Enterprise relies on its own search engine optimization (SEO) and marketing
            expertise to attract new visitors to our site.
        </p>
        <p>
            We're not a static organisation. We don't restrict ourselves to a single industry. Ojas Enterprise has the expertise and resources to create a custom website and implement a variety of digital marketing services for any size business in any sector.
        </p>
    </div>
</div>
<input type="checkbox" id="input-3" class="checkbox">
<div class="modal-bg-3">
    <div class="modal-3">
        <label for="input-3"><i class="ri-close-fill"></i></label>
        <img src="../../../assets/img/services/iot.svg" alt="">
        <h1>IOT Development</h1>
        <p>The Internet of Things has grown common these days in many sectors of life, from households to industries to businesses. IoT is making the world smarter and better than ever before by connecting everything and everyone. But this is only the beginning.
            To realize the full potential of the Internet of Things, companies must first recognize the prospects for value creation and then solve the underlying issues in a systematic manner.
        </p>
    </div>
</div>
<input type="checkbox" id="input-4" class="checkbox">
<div class="modal-bg-4">
    <div class="modal-4">
        <label for="input-4"><i class="ri-close-fill "></i></label>
        <img src="../../../assets/img/services/mobile-app.svg" alt="">
        <h1>Mobile App Development</h1>
        <p>We develop and deploy customised mobile apps. This covers expert business analysis, design and development of your mobile app from concept to launch, integration of the new product into your infrastructure, and on-demand optimization and scaling-up.
            We create mobile apps for a variety of platforms utilising cutting-edge technology and tried-and-true methods.</p>
    </div>
</div>
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLongTitle ">Modal title</h5>
                <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
          <span aria-hidden="true ">&times;</span>
        </button>
            </div>
            <div class="modal-body ">
                ...
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-secondary " data-dismiss="modal ">Close</button>
                <button type="button " class="btn btn-primary ">Save changes</button>
            </div>
        </div>
    </div>
</div> -->