<section class="services">
  <div class="container">
    <div class="row">
      <div class="titleContainer">
        <span data-aos="fade-up" data-aos-duration="1000">We Are Expert In</span>
        <h2 data-aos="fade-up" data-aos-duration="1000">Our Services</h2>
      </div>
      <p class="lead" data-aos="fade-up" data-aos-duration="1200">Et odio honestatis ius. Exerci numquam consequuntur no
        mei. Ut sed ornatus tibique, fabellas
        pertinax est cu.
        Te odio omittam mea, ea tractatos dissentiunt complectitur nec. Liber voluptatum ad vis.</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="serviceBox" data-aos="fade-up" data-aos-duration="1500">
          <div class="icon">
            <img src="../../../assets/img/services/web-coding.png" alt="Web Development">
          </div>
          <div class="content">
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="serviceBox" data-aos="fade-up" data-aos-duration="1500">
          <div class="icon">
            <img src="../../../assets/img/services/web-coding.png" alt="Blockchain Development">
          </div>
          <div class="content">
            <h3>Blockchain Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="serviceBox" data-aos="fade-up" data-aos-duration="1500">
          <div class="icon">
            <img src="../../../assets/img/services/web-coding.png" alt="IOT Development">
          </div>
          <div class="content">
            <h3>IOT Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="serviceBox" data-aos="fade-up" data-aos-duration="1500">
          <div class="icon">
            <img src="../../../assets/img/services/web-coding.png" alt="Mobile App Development">
          </div>
          <div class="content">
            <h3>Mobile App Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. </p>
          </div>
        </div>
      </div>
      <p class="text-center mt-5">
        <a href="" class="btn secondary-btn">Explore All Services</a>
      </p>
    </div>
  </div>
</section>
