<section class="hero">
  <div class="container">
    <div class="overlay">
    </div>
    <div class="video-container">
      <video autoplay loop muted poster="../../../assets/img/hero.jpg" oncanplay="this.play()"
        onloadedmetadata="this.muted = true">
        <source src="../../../assets/videos/hero.mp4" type="video/mp4" />
      </video>
    </div>
    <span class="icon icon1">
      <img src="../../../assets/img/icon1.png" alt="" loading="lazy">
    </span>
    <span class="icon icon2">
      <img src="../../../assets/img/icon2.png" alt="" loading="lazy">
    </span>
    <span class="icon icon3">
      <img src="../../../assets/img/icon3.png" alt="" loading="lazy">
    </span>
    <span class="icon icon4">
      <img src="../../../assets/img/icon4.png" alt="" loading="lazy">
    </span>
    <span class="icon icon5">
      <img src="../../../assets/img/icon5.png" alt="" loading="lazy">
    </span>
    <span class="icon icon6">
      <img src="../../../assets/img/icon6.png" alt="" loading="lazy">
    </span>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 col-xl-6 col-xxl-6">
        <img src="../../../assets/img/hero.svg" alt="" id="scene">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-5 col-xl-5 col-xxl-5 offset-lg-1 offset-xl-1 offset-xxl-1">
        <div class="flex-container">
          <div class="flex-content">
            <h2 data-aos="fade-up" data-aos-duration="1000">We <span>Digitalize</span><br /> your dreams</h2>
            <p data-aos="fade-up" data-aos-duration="1500">60-80% boost your sales with our strategy. We help business
              from local to organized business to gain more sales & brand awareness by promoting them on social media in
              a suitable budget for them.</p>

            <a href="" class="btn primary-btn" data-aos="fade-up" data-aos-duration="1700">Get Started <i
                class="ri-arrow-right-up-fill"></i></a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="socialLinks">
    <a href="https://www.facebook.com/profile.php?id=100075828450922" target="_blank" title="Follow Us On Facebook"><i
        class="ri-facebook-fill"></i></a>
    <a href="https://twitter.com/OjasEnterprise" target="_blank" title="Follow Us On Twitter"><i
        class="ri-twitter-fill"></i></a>
    <a href="https://www.instagram.com/ojasenterprise/?hl=en" target="_blank" title="Follow Us On Instagram"><i
        class="ri-instagram-fill"></i></a>
    <a href="" target="_blank" title="Follow Us On LinkedIn"><i class="ri-linkedin-box-fill"></i></a>
  </div>
</section>

<!-- About -->
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <div class="aboutBox flex-container">
          <div class="flexContent">
            <div class="titleContainer">
              <span data-aos="fade-up" data-aos-duration="1000">About Us</span>
              <h2 data-aos="fade-up" data-aos-duration="1000">Who We Are</h2>
            </div>
            <p data-aos="fade-up" data-aos-duration="1000">Ojas Enterprise is modelized with a vision to provide a
              Software Development, web application development, Digital Marketing, IOT and Mobile App Development
              company with experienced IT consultants who can offer valuable business
              solutions. We help you and your business connect with customers, integrate with vendors and empower
              employees to work to their fullest potential.
            </p>
            <div class="counterContainer">
              <div class="counterBox" data-aos="fade-up" data-aos-duration="1500">
                <h3>150+</h3>
                <span>Happy Customers</span>
              </div>
              <div class="counterBox" data-aos="fade-up" data-aos-duration="1700">
                <h3>200+</h3>
                <span>Monthly Visitors</span>
              </div>
              <div class="counterBox" data-aos="fade-up" data-aos-duration="1900">
                <h3>110+</h3>
                <span>Countries Worldwide</span>
              </div>
              <div class="counterBox" data-aos="fade-up" data-aos-duration="2100">
                <h3>120+</h3>
                <span>Top Partners</span>
              </div>
            </div>
            <p data-aos="fade-up" data-aos-duration="2000"><a (click)="goto('about')" class="btn primary-btn">Know
                More <i class="ri-arrow-right-up-fill"></i></a></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5 offset-lg-1 offset-xl-1 offset-xxl-1">
        <div class="aboutImgContainer" data-aos="fade-up" data-aos-duration="2100">
          <img src="../../../assets/img/about.svg" alt="About">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<section class="services">
  <div class="container">
    <div class="row">
      <div class="titleContainer">
        <span data-aos="fade-up" data-aos-duration="1000">We Are Expert In</span>
        <h2 data-aos="fade-up" data-aos-duration="1000">Our Services</h2>
      </div>
      <p class="lead" data-aos="fade-up" data-aos-duration="1200">Our expertise is in Web Application Development,
        UI/Front End Dev, Mobile App Dev, Mobile App Testing, Testing Services</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="serviceBox" data-aos="fade-up" data-aos-duration="1500" (click)="goto('service')">
          <div class="icon">
            <img src="../../../assets/img/services/web-coding.png" alt="Web Development">
          </div>
          <div class="content">
            <h3>Web <br/>Development</h3>
            <p>Angular, .Net MVC, .Net Core</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="serviceBox" data-aos="fade-up" data-aos-duration="1500">
          <div class="icon">
            <img src="../../../assets/img/services/web-coding.png" alt="Blockchain Development">
          </div>
          <div class="content">
            <h3>Digital <br/>Marketing</h3>
            <p>SEO, PPC, Social Media Marketing, Email Marketing, Content Marketing, Affilate Marketing</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="serviceBox" data-aos="fade-up" data-aos-duration="1500">
          <div class="icon">
            <img src="../../../assets/img/services/web-coding.png" alt="IOT Development">
          </div>
          <div class="content">
            <h3>IOT <br/>Development</h3>
            <p>IoT Cloud Platform, Edge Computing, Mobile IoT(MIoT), Bluetooth Low Energy (BLE), IoT Protocol</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="serviceBox" data-aos="fade-up" data-aos-duration="1500">
          <div class="icon">
            <img src="../../../assets/img/services/web-coding.png" alt="Mobile App Development">
          </div>
          <div class="content">
            <h3>Mobile App <br/>Development</h3>
            <p>Android App Development, iOS App Development, <small>(Hybrid)</small></p>
          </div>
        </div>
      </div>
      <p class="text-center mt-5">
        <a href="" class="btn secondary-btn"  (click)="goto('services')">Explore All Services</a>
      </p>
    </div>
  </div>
</section>
<!-- Why Us -->
<section class="whyUs">
  <div class="container">
    <div class="row">
      <div class="titleContainer">
        <span data-aos="fade-up" data-aos-duration="1000">Why People Choose Us</span>
        <h2 data-aos="fade-up" data-aos-duration="1000">Because we give our best</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="why-us-box" data-aos="zoom-in" data-aos-duration="1400">
          <div class="why-us-box-content">
            <div class="icon-container">
              <img src="../../../assets/img/professionals.svg" alt="Professional Work">
            </div>
            <div class="content">
              <h3>Professional Work</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, laudantium.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="why-us-box" data-aos="zoom-in" data-aos-duration="1000">
          <div class="why-us-box-content">
            <div class="icon-container">
              <img src="../../../assets/img/expert-team.svg" alt="Expert Team">
            </div>
            <div class="content">
              <h3>Expert Team</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, laudantium.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="why-us-box" data-aos="zoom-in" data-aos-duration="1200">
          <div class="why-us-box-content">
            <div class="icon-container">
              <img src="../../../assets/img/total-experience.svg" alt="15+ Years Experience">
            </div>
            <div class="content">
              <h3>15+ Years Experience</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, laudantium.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        <div class="why-us-box" data-aos="zoom-in" data-aos-duration="1400">
          <div class="why-us-box-content">
            <div class="icon-container">
              <img src="../../../assets/img/service-quality.svg" alt="Best Service Quality">
            </div>
            <div class="content">
              <h3>Best Service Quality</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, laudantium.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio -->
<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-8 col-xl-8">
        <div class="titleContainer">
          <span>Our Work</span>
          <h2>Portfolio</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <ul id="btn-container">
          <li><a onclick="filterSelection('all')" class="btn-link">All</a></li>
          <li><a onclick="filterSelection('websites')" class="btn-link">Websites</a></li>
          <li><a onclick="filterSelection('graphics')" class="btn-link">Graphics</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="portfolio-box" data-aos="zoom-in" data-aos-duration="1200">
          <img
            src="https://images.pexels.com/photos/617965/pexels-photo-617965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="img-fluid" alt="" title="" loading="lazy">
          <div class="overlay-text">
            <a href="#" class="icon" title="User Profile">
              <i class="ri-add-circle-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="portfolio-box" data-aos="zoom-in" data-aos-duration="1400">
          <img
            src="https://images.pexels.com/photos/2088170/pexels-photo-2088170.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img-fluid" alt="" title="" loading="lazy">
          <div class="overlay-text">
            <a href="#" class="icon" title="User Profile">
              <i class="ri-add-circle-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="portfolio-box" data-aos="zoom-in" data-aos-duration="1600">
          <img
            src="https://images.pexels.com/photos/7463093/pexels-photo-7463093.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="img-fluid" alt="" title="" loading="lazy">
          <div class="overlay-text">
            <a href="#" class="icon" title="User Profile">
              <i class="ri-add-circle-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="portfolio-box" data-aos="zoom-in" data-aos-duration="1800">
          <img
            src="https://images.pexels.com/photos/8857389/pexels-photo-8857389.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img-fluid" alt="" title="" loading="lazy">
          <div class="overlay-text">
            <a href="#" class="icon" title="User Profile">
              <i class="ri-add-circle-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="portfolio-box" data-aos="zoom-in" data-aos-duration="2000">
          <img
            src="https://images.pexels.com/photos/2033997/pexels-photo-2033997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="img-fluid" alt="" title="" loading="lazy">
          <div class="overlay-text">
            <a href="#" class="icon" title="User Profile">
              <i class="ri-add-circle-line"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="portfolio-box" data-aos="zoom-in" data-aos-duration="2200">
          <img
            src="https://images.pexels.com/photos/7970458/pexels-photo-7970458.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="img-fluid" alt="" title="" loading="lazy">
          <div class="overlay-text">
            <a href="#" class="icon" title="User Profile">
              <i class="ri-add-circle-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio -->

<!-- Testimonials -->
<!-- <section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="titleContainer">
                <span data-aos="fade-up" data-aos-duration="1000">What people say </span>
                <h2 data-aos="fade-up" data-aos-duration="1000">Testimonials</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="testimonial-box">
                    <div class="img-container">
                        <img src="../../../assets/img/user1.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                        <div class="user-details">
                            <h3>Amol Impal</h3>
                            <small>Nashik</small>
                        </div>
                        <ul class="rating">
                            <li><i class="ri-star-s-fill"></i></li>
                            <li><i class="ri-star-s-fill"></i></li>
                            <li><i class="ri-star-s-fill"></i></li>
                            <li><i class="ri-star-s-fill"></i></li>
                            <li><i class="ri-star-s-fill"></i></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="testimonial-box">
                    <div class="img-container">
                        <img src="../../../assets/img/user2.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                        <div class="user-details">
                            <h3>Radha Krishna</h3>
                            <small>Pune</small>
                        </div>
                        <ul class="rating">
                            <li><i class="ri-star-s-fill"></i></li>
                            <li><i class="ri-star-s-fill"></i></li>
                            <li><i class="ri-star-s-fill"></i></li>
                            <li><i class="ri-star-s-fill"></i></li>
                            <li><i class="ri-star-s-fill"></i></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="testimonial-box">
                    <div class="img-container">
                        <img src="../../../assets/img/user3.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                        <div class="user-details">
                            <h3>Anket Nemlekar</h3>
                            <small>Mumbai</small>
                        </div>
                        <ul class="rating">
                            <li><i class="ri-star-s-fill"></i></li>
                            <li><i class="ri-star-s-fill"></i></li>
                            <li><i class="ri-star-s-fill"></i></li>
                            <li><i class="ri-star-s-fill"></i></li>
                            <li><i class="ri-star-s-fill"></i></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Solutions -->
<section class="solutions">
  <div class="container">
    <div class="row">
      <div class="titleContainer">
        <span data-aos="fade-up" data-aos-duration="1000">Our solutions</span>
        <h2 data-aos="fade-up" data-aos-duration="1000">Here’s how we can make your business easier</h2>
      </div>
      <p data-aos="fade-up" data-aos-duration="1200">Our committed teams have a unique blend of functional & operational
        knowledge, technical expertise and result-oriented management experience ranging from Application Development to
        end to end
      </p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="qualityBox" data-aos="zoom-in" data-aos-duration="1400">
          <div class="boxContent">
            <img src="../../../assets/img/quality-solutions.svg" alt="Quality solutions">
            <h3>Quality solutions</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="qualityBox" data-aos="zoom-in" data-aos-duration="1800">
          <div class="boxContent">
            <img src="../../../assets/img/timely-delivery.svg" alt="Ambitions">
            <h3>Timely Delivery</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <div class="qualityBox" data-aos="zoom-in" data-aos-duration="2000">
          <div class="boxContent">
            <img src="../../../assets/img/customer-support.svg" alt="Customer Support">
            <h3>Customer Support</h3>
          </div>
        </div>
      </div>
      <div class="iframeContainer">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/WJUczZ1RH_w" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section class="follow-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="titleContainer">
          <span>Follow Us On</span>
          <h2>Social Network</h2>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="social-links">
          <li><a href="https://www.facebook.com/profile.php?id=100075828450922" target="_blank"
              title="Follow Us On Facebook" aria-label="Follow Us On Facebook"><i class="ri-facebook-fill"></i></a></li>
          <li><a href="https://twitter.com/OjasEnterprise" target="_blank" title="Follow Us On Twitter"
              aria-label="Follow Us On Twitter"><i class="ri-twitter-fill"></i></a></li>
          <li><a href="https://www.instagram.com/ojasenterprise/?hl=en" target="_blank" title="Follow Us On Instagram"
              aria-label="Follow Us On Instagram"><i class="ri-instagram-fill"></i></a></li>
          <li><a href="" target="_blank" title="Follow Us On LinkedIn" aria-label="Follow Us On LinkedIn"><i
                class="ri-linkedin-box-fill"></i></a></li>
        </ul>
      </div>


    </div>
  </div>
</section>
