<section class="blogs">
  <div class="container">
    <div class="row">
      <div class="titleContainer">
        <span>Informative</span>
        <h2>Our Blogs</h2>
      </div>
      <div class="blogs-container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="blog-box">
              <img
                src="https://images.unsplash.com/photo-1531497865144-0464ef8fb9a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80"
                alt="" class="blog-img">
              <a class="read-more-btn" (click)="goto('blog')"><i class="ri-arrow-right-fill"></i></a>
              <div class="blog-box-content">
                <h3>Information Technology &amp; Business</h3>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="blog-box">
              <img
                src="https://images.unsplash.com/photo-1531973576160-7125cd663d86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="" class="blog-img">
              <a class="read-more-btn" (click)="goto('blog')"><i class="ri-arrow-right-fill"></i></a>
              <div class="blog-box-content">
                <h3>Information Technology &amp; Business</h3>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="blog-box">
              <img
                src="https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80"
                alt="" class="blog-img">
              <a class="read-more-btn" (click)="goto('blog')"><i class="ri-arrow-right-fill"></i></a>
              <div class="blog-box-content">
                <h3>Information Technology &amp; Business</h3>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
